# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
.expo/
*.tsbuildinfo

# Turborepo
.turbo/

# Environment
.env
.env.local
.env.*.local

# Prisma
packages/db/prisma/migrations/

# Expo
apps/mobile/ios/
apps/mobile/android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Release builds
*.apk
*.aab
*.ipa

# Screenshots / temp images
00069345B002441

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
